mixin subscribe(data)
    .subscribe(style="background-image: url(s/images/useful/#{data.img})" class='' + data.subscribe_class ? data.subscribe_class : null)
        .container
            h2.subscribe__title!= data.title
            p.subscribe__desc!= data.desc
            if data.placeholder
                .hero-component__form
                    form(action="javascript:void(0)")
                        .form-control__wrap
                            .input-wrap
                                input.form-control.form-control_lg(type="text", required)
                                span.form-control__placeholder!= data.placeholder
                        button.btn.btn_shadowed.btn_md.btn_lgh(type="submit" class='' + data.button_class ? data.button_class : null)
                            span!= data.submit_text